.monthly-account {
  border: 1px solid rgb(0, 95, 107);
  border-radius: 3px;
  background-color: rgba(0, 95, 107, 0.8);
  padding: 0.2em;
  color: #fff;
  display: grid;
  grid-template-rows: 60px 60px 60px;
}
.flat-number {
  grid-row: 1;
  justify-self: start;
  align-self: start;
}
.paid-status {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}
.paid-date {
  display: flex;
  grid-row: 3;
  justify-self: end;
  align-self: end;
  font-size: 70%;
}
