.monthly-account {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: minmax(180px, 1fr);
  grid-auto-flow: row;
  grid-gap: 20px;
}
.box {
  display: grid;
  grid-template-rows: 60px 60px 60px;
  background-color: rgba(0, 95, 107, 0.2);
  border-radius: 5px;
  padding: 0;
}
.flat-number {
  grid-row: 1;
  justify-self: start;
  align-self: start;
  color: blue;
  font-size: 90%;
}

.paid-date {
  display: flex;
  grid-row: 3;
  align-self: end;
  font-size: 90%;
  width: 175px;
  color: blue;
}

.flat-number:hover,
.paid-status:hover,
.paid-date:hover {
  color: black;
}

.list-control {
  display: flex;
}
.month,
.year {
  width: 100px;
  margin: 10px;
}
.list-view-select {
  width: 140px;
  margin: 10px;
  padding-left: 40px;
}

.box-view-select {
  width: 100px;
  margin: 10px;
  padding-left: 5px;
}

.paid-status-header {
  text-align: center;
}

.index-cell {
  width: 50px;
}
.flat-number-cell {
  width: 50px;
}
.paid-status-cell {
  width: 60px;
}


/**
 * Following check box style css code taken from
 * https://paulund.co.uk/how-to-style-a-checkbox-with-css
 */


/**
 * For styling check box, hide it first
 */
/*input[type=checkbox] {
  visibility: hidden;
}
*/
.paid-status-input[type=checkbox] {
  visibility: hidden;
}


/*
 * Paid Status Checkbox
 */

.paid-status {
  width: 120px;
  height: 40px;
  background: #333;
  margin: 20px 60px;
  border-radius: 50px;
  position: relative;

  grid-row: 2;
  justify-self: center;
  align-self: center;
}

/*
 * Create the text for the On position
 */

.paid-status:before {
  content: 'Paid';
  position: absolute;
  top: 12px;
  left: 13px;
  height: 2px;
  color: #26ca28;
  font-size: 16px;
}

/*
 * Create the label for the Off position
 */
.paid-status:after {
  content: 'X';
  position: absolute;
  top: 12px;
  left: 84px;
  height: 2px;
  color: white;
  font-size: 16px;
}

/**
 * Create the pill to click
 */
 .paid-status label {
   display: block;
   width: 52px;
   height: 22px;
   border-radius: 50px;
   transition: all .5s ease;
   position: absolute;
   top: 9px;
   z-index: 1;
   left: 12px;
   background: #ddd;
 }

 /**
  * Create the checkbox event for the label
  */

.paid-status input[type=checkbox]:checked + label {
  left: 60px;
  background: #26ca28;
}
