.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
  background-color: rgba(255, 255, 150, 0.5);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: rgba(255, 255, 150, 0.5);
  background-color: rgba(0, 0, 0, 0.75);
}
.footer span {
  margin-right: 5px;
}
.inputField::placeholder, textarea::placeholder {
  opacity: 0.3;
}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.dropdown-menu {
  background-color: rgba(130, 30, 30, 0.9);
}
.dropdown-item:hover {
  background-color: rgba(255, 255, 150, 0.5);
}
.navbar {
  background-color: rgba(130, 30, 30, 1) !important;
}
.formLabel {
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
label {
	font-weight: bold;
	text-align: center;
}
*/

.list-to-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}
.llabel {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
  font-weight: bold;
	text-align: center;
}
.lselect {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.homeButton {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}


.alabel {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
  font-weight: bold;
	text-align: center;
}
.aselect {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.dbutton {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.dlabel {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
  font-weight: bold;
	text-align: center;
}
.dselect {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.abutton {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
